*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: "Microsoft yahei";
}
/* .big{
    margin: 0px auto;
    width: 1142px;
    background: red;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
.wrap-nav{
    width: 100%;
    background: url("../img/banner1.jpg");
}
.wrap-header{
    width: 100%;
    min-width: 1420px;
    display: flex;
    margin: 0px auto;
    background: #1b66e6;
    justify-content: center;
    position: relative;
    height: 80px;
}
header{
    /* left: -50%; */
    height: 80px;
    width: 1142px;
    overflow: hidden;
    margin: 0px auto;
    /* width: 100%; */
}
#div1{
    height: 80px;
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
}
header li{
    float: left;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}
header ul{
    height: 80px;
    width: 1142px;
    position: relative;
}
nav{
    height: 360px;
    width: 1142px;
    background: url("../img/banner1.jpg");
    margin: 0px auto;
    position: relative;
    /* overflow:hidden; */
}
.nav1{
    height: 70px;
    border-bottom: 1px solid #4683eb;
}
nav img{
    float: left;
    margin-top: 13px;
    margin-left: 3px;
    width: 136px;
}
.div2{
    height: 70px;
    width: 1142px;
    margin: 0px auto;

    overflow: hidden;
}
.div3{
    float: left;
    height: 70px;
}
.div4{
/* background: lime; */
    height: 70px;
    width: 1000px;
    overflow:hidden;
}
.div4 li{
    float: left;
    padding-right: 23px;
    font-size: 12px;
    color: #fff;
}
.div4 .yellow{
    color: #dcc298;
}
.div4 a{
    text-decoration: none;
    color: #fff;
}
.div4 a:hover{
    color: #a9c6ff;
}

.div4 li:nth-of-type(9){
    padding-right: 5px;

}
.div4 li:nth-of-type(10){
    border: 1px solid #fff;
    padding: 3px 17px;
    line-height: 20px;
    transform: translateY(-6px);
}
.div4 ul{
position: absolute;
top: 27px;
margin-left: 393px;
width: 630px;
}
.nav2{
    height: 215px;
    /* background: lavender; */
    width: 1142px;
    margin: 0px auto;
}
.nav2-3{
    width: 112px;
    float: left;
    height: 156px;
    overflow: hidden;
    /* background: rgb(94, 201, 218); */

}
.nav2-1{
    float: left;
    width: 67px;
    height: 215px;

}
.nav2-2{
    width: 1073;
    height: 40px;
}
/* .nav2-3 ul{
    margin-top: 40px;
} */
.nav2-3 li:nth-of-type(1){
    border: 1px solid #90b4f3;
    border-right: none;
    background-image: linear-gradient(to right, rgba(211, 211, 211, 0.5) , #1c67e6);

}
.nav2-3 li:nth-of-type(2){
    border-right: 1px solid #90b4f3;

}
.nav2-3 li:nth-of-type(3){
    border-right: 1px solid #90b4f3;

}
.nav2-3 ul{
    width: 112px;
}
.nav2-3 li{
    padding: 15px 0px;
    font-size: 14px;
    text-align: center;
    /* border: 1px solid #90b4f3;
    border-right: none; */
    cursor: pointer;
    color: #fff;

}
.input1{
    float: left;
    width: 555px;
    height: 20px;
    padding: 15px 0 15px 20px;
    font-size: 14px;
    color: #7d7d7d;
    line-height: 20px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    /* margin-top: 1px; */
}
.nav2-4-1 p{
    height: 50px;
    width: 120px;
    background: rgb(255, 255, 255);
    display: inline-block;
    float: left;
    /* margin-top: 1px; */
    margin-left: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
#uu2{
    display: none;
    float: left;
    position: absolute;
    left: 209px;
    top: 48px;
    cursor: pointer;
 

}
.nav2-4-1 li{
    padding: 7px 0px;
    width: 120px;
    background: #fff;
    text-align: center;
    cursor: pointer;
}
.nav2-4-1 .blue{
    background: #4e80d6;
}
.nav2-4-1{
    position: relative;
}
.span2{
    position: absolute;
    left: 325px;
    top: 14px;
}
.span3{
    height: 50px;
    background: #fff;
    width: 68px;
    float: left;
    /* margin-top: 1px; */
    text-align: center;
    line-height: 50px;
    cursor:pointer;
    margin-right: 20px;
}
.nav2-4-2 p{
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
}
.nav2-4-2 a{
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    text-decoration: none;
}
.nav2-4-2 a:hover{
    color: #a9c6ff;
}
.nav2-4-3{
    float: left;
    margin-left: 30px;
    height: 56px;
    width: 865px;
    border-bottom: 1px solid #6697f8;

}
.nav2-4-3 a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 62px;

}
.nav2-4-3 a:hover{
    color: #a9c6ff;
}

.nav2-4-3 p:nth-of-type(1){
    float: left;
    margin-left: 15px;
}
.nav2-4-3 p{
    float: left;
    font-size: 14px;
    margin-right: 45px;
}
.nav2-4-3 input{
    color: #e99817;

}
.nav2-4-4 a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 50px;

}
.nav2-4-4 a:hover{
    color: #a9c6ff;
}
.nav2-4-4 p{
    float: left;
    margin-right: 45px;
}
.nav2-4-4{
    float: left;
    margin-left: 30px;
    height: 56px;
    width: 865px;
}
.nav2-4-4 p:nth-of-type(1){
    margin-left: 15px;
}
main{
    height: 550px;
    width: 1140px;
    margin: 0 auto;
    /* background: lime; */
}
.nav3{
    height: 73px;
    width: 1140px;
    margin: 0 auto;
}
.nav3-1{
    height: 73px;
    width: 330px;
    float: left;
    background: #ffffff;
    border-bottom: 1px solid #d9e0e8;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 10px;
}
.nav3-1-1{
    height: 4px;
    width: 330px;
    float: left;
    background: #7dacf0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav3-1-1 h3{
    color: #2267d2;
    font-size: 17px;
    margin-left: 26px;
    line-height: 74px;
}
.nav3-2{
    height: 73px;
    width: 500px;
    float: left;
    background: #ffffff;
    border-bottom: 1px solid #d9e0e8;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 10px;
}
.nav3-2-1{
    height: 4px;
    width: 500px;
    float: left;
    background: #7dacf0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav3-2-1 h3{
    color: #2267d2;
    font-size: 17px;
    margin-left: 26px;
    line-height: 74px;
}
.nav3-3{
    height: 73px;
    width: 290px;
    float: left;
    background: #ffffff;
    border-bottom: 1px solid #d9e0e8;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav3-3-1{
    height: 4px;
    width: 290px;
    float: left;
    background: #7dacf0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav3-3-1 h3{
    color: #2267d2;
    font-size: 17px;
    margin-left: 26px;
    line-height: 74px;
}
.main1{
    height: 512px;
    width: 330px;
    float: left;
    background: #ffffff;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 10px;
    box-shadow: 1px 1px 6px 0px rgb(192, 192, 192),-1px 0px 6px 0px rgb(196, 196, 196);
}
.main2{
    height: 512px;
    width: 500px;
    float: left;
    background: #ffffff;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 10px;
    box-shadow: 1px 1px 6px 0px rgb(192, 192, 192),-1px 0px 6px 0px rgb(196, 196, 196);
}
.main3{
    height: 512px;
    width: 290px;
    background: #ffffff;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px 6px 0px rgb(192, 192, 192),-1px 0px 6px 0px rgb(196, 196, 196);
}
/* .main1 ul{

} */
main a{
    text-decoration: none;

}

#h6-1 a{
    color: #e30;
    font-size: 15px;
    font-family: "Microsoft yahei";
    font-weight: 900;
    position: relative;
    margin-right: 35px;
}
#h6-1 a:hover{
    color: #1c67e6;
}
.main1 p{
    color: rgb(255, 119, 28);
    display: inline-block;
    position: absolute;
    left: 90px;
    top: -6px;
    animation:move 1s infinite linear;
}
@keyframes move {
    0%{
        color:rgb(255, 119, 28);
    }
    50%{
        color:rgba(255, 119, 28, 0.1);
       
    }
    100%{
        color:rgb(255, 119, 28);
    }
}
.main1 li{
    color: #778193;
    font-size: 12px;
    margin-bottom: 10px;

}
.main1 ul{
    padding: 7px 13px 0 25px;
    width: 290px
}
.main1 a{
    font-size: 12px;
    color: #778193;
    line-height: 24px;
}
.main1 a:hover{
    color: #7dacf0;
}


.main1 h6{
    color: rgb(1, 1, 1);
    font-size: 15px;
    font-family: "Microsoft yahei";
    font-weight: 400;
    position: relative;
    margin-right: 35px;
    margin-top: 10px;
}
main h6{
    font-family: "Microsoft yahei";
    font-size: 15px;
}


.main2-1{
    height: 79px;
    width: 209px;
    margin-left: 25px;
    /* background: rgb(231, 230, 225); */
    float: left;
}
.main2-1 h6{
    font-size: 15px;
    font-weight: 500;
    margin-top: 12px; 
}
.main2-1 h6:hover{
    color: #7dacf0;
}
.main2-1 a{
    color: #778193;
    font-size: 12px;
    line-height: 22px;
}
.main2-1 a:hover{
    color: #7dacf0;
}
.main2-2{
    height: 79px;
    width: 266px;
    /* background: rgb(231, 230, 225); */
    float: left;
}
.main2-2 h6{
    font-size: 15px;
    font-weight: 500;
    margin-top: 12px;
    
}
.main2-2 a{
    color: #778193;
    font-size: 12px;
    line-height: 22px;
}
.main2-2 a:hover{
    color: #7dacf0;
}
.main2-0{
    height: 119px;
    width: 500px;
    border-bottom:1px solid #d9e0e8;
}
.main2-3 p{
    display: inline-block;
    margin-left: 25px;
    line-height: 40px;
    cursor: pointer;
    font-weight: 500;
    font-family: "Microsoft yahei";
}
.main2-3 a{
    line-height: 40px;
    cursor: pointer;
    color: black;
    font-family: "Microsoft yahei";
}
.main2-3 a:hover{
    color:#7dacf0
}
#main2-3-a{
    color: #e30;
}
.main2-4{
    float: left;
    height: 40px;
    width: 288px;
    border-right: 1px solid #d9e0e8;
}

.main2-4 p{
    display: inline-block;
    margin-left: 25px;
    line-height: 40px;
    cursor: pointer;
    font-weight: 500;
    font-family: "Microsoft yahei";
}
.main2-4 a{
    line-height: 40px;
    cursor: pointer;
    color: #e30;
    font-family: "Microsoft yahei";
}
.main2-5{
    float: left;
    height: 40px;
    width: 211px;
    position:relative;
}
.main2-5-a{
    color: #e30;
    font-size: 15px;
    font-family: "Microsoft yahei";
    font-weight: 900;
    margin-right: 35px;
    line-height: 40px;
    margin-left: 25px;
}
#main2-5-p1{
    color: rgb(255, 119, 28);
    display: inline-block;
    position: absolute;
    left: 87px;
    top: -6px;
    animation:move 1s infinite linear;
}
@keyframes move {
    0%{
        color:rgb(255, 119, 28);
    }
    50%{
        color:rgba(255, 119, 28, 0.1);
       
    }
    100%{
        color:rgb(255, 119, 28);
    }
}
#main2-5-p2{
    display: inline-block;
    margin-left: 10px;

    cursor: pointer;
    font-weight: 500;
    font-family: "Microsoft yahei";
}
.main2-5 a{
    line-height: 40px;
    cursor: pointer;
    color: #e30;
    float: left;
    font-family: "Microsoft yahei";
}
.main2-5 a:hover{
    color: #7dacf0;
}
.main2-4 a:hover{
    color: #7dacf0;
}
#main2-3-a:hover{
    color: #7dacf0;
}
.main2-7 p{
    padding-left: 25px;
    height: 69px;
    line-height: 69px;
    font-size: 18px;
    color: #2267cb;
    font-family: "Microsoft yahei";
    border-bottom: 1px solid #d9e0e8;
}
.main2-8-left{
    float: left;
    width: 296px;
}
.main2-8-left h6{
    margin-left: 25px;
    margin-top: 12px;
    font-weight: 500;
}
.main2-8-left ul{
    margin-left: 25px;
    width: 230px;
}
.main2-8-left li{
    float: left;
    margin-right: 15px;
    font-size: 12px;
}
.main2-8-left a{
    color: #778293;
    line-height: 23px;
}
.main2-8-left a:hover{
    color: #7dacf0;
}
.main2-8-right{
    float: left;
    width: 204px;
    position: relative;
    height: 159px;
}

.main2-8-right ul{
    width: 230px;
}
.main2-8-right li{
    float: left;
    margin-right: 15px;
    font-size: 12px;
}
.main2-8-right a{
    color: #778293;
    line-height: 23px;
}
.main2-8-right a:hover{
    color: #7dacf0;
}
.main2-8-right h6:hover{
    color: #7dacf0;
}
.main2-8-right h6{
    display: inline-block;
    margin-top: 12px;
}
.main2-8-right h6 a{
    color: black;
    font-weight: 500;
}
.main2-8-right-h6-left{
    position: absolute;
    bottom: 22px;
    left: 0px;
}
.main2-8-right-h6-right{
    position: absolute;
    bottom: 22px;
    left: 88px;
}
.main3-1{
    height: 84px;
    width: 265px;
    margin-left: 25px;
    /* background: rgb(205, 175, 175); */
}
.main3-1 a{
    font-weight: 700;
    font-size: 14px;
    color: black;
    line-height: 30px;
}
.main3-1 h6{
    position: relative;
}
.main3-1-p1{
    position: absolute;
    left: 210px;
    top:-4px;
    animation:move 1s infinite linear;
}
@keyframes move {
    0%{
        color:rgb(255, 119, 28);
    }
    50%{
        color:rgba(255, 119, 28, 0.1);
       
    }
    100%{
        color:rgb(255, 119, 28);
    }
}
.main3-1-p2{
    position: absolute;
    left: 155px;
    top:-4px;
    animation:move 1s infinite linear;
}
@keyframes move {
    0%{
        color:rgb(255, 119, 28);
    }
    50%{
        color:rgba(255, 119, 28, 0.1);
       
    }
    100%{
        color:rgb(255, 119, 28);
    }
}
.main3-1 h6>a{
    font-weight: 700;
    font-size: 14px;
    color: #f13300;
    line-height: 25px;
}
.main3-1 h6>a:hover{
    color: #6697f8;
}
.main3-2{
    /* margin-left: 25px; */
    width: 290px;
}
.main3-2 h6{
    color: #000;
    font-weight: 500;
    /* display: inline; */
    margin-right: 150px;
    line-height: 22px;
    /* margin-top: px; */
}
.main3-2 ul{
    float: left;
    width: 248px;
    margin: 3px 16px 3px 25px;
}
.main3-2 li{

    float: left;
}
.main3-2 a{
    color: #778193;
    margin-right: 11px;
    font-size: 12px;
    line-height: 22px;
}
.main3-2 .main3-2-red{
    color: #f13300;
}
.main3-2 .main3-2-red:hover{
    color: #6697f8;
}
a:hover{
    color: #6697f8;
}
#main3-2-h6{
    margin-right: 170px;
}
.wrap-main{
    background: #f6f7f9;

}
section{

}
.sec{
    width: 1140px;
    height: 942px;
    margin: 0px auto;
    /* background: rgba(211, 211, 211, 0.5); */
}
.sec-top1{
    height: 48px;
    width: 1140px;
}
.sec-nav{
    width: 1142px;
}
.sec-nav-left{
    width: 400px;
    margin-right: 35px;
    float: left;
}
.sec-nav-left-1 h6{
    float: left;
    font-size: 18px;
    color: #2267c7;
    font-weight: 700;
}
.sec-nav-left-1 a{
    font-size: 12px;
    color: #778193;
    text-decoration: none;
}
.sec-nav-left-1 a:hover{
    color: #6697f8;
}
.sec-nav-left-1 p{
    float: right;
}
.sec-nav-left-1{
    border-bottom:1px solid #ccc;
    height: 37px;
}
.sec-nav-left-2{
    border-bottom:1px dashed #ccc;
    height: 84px;
    margin-top: 25px;
}
.sec-nav-left-2 a{
    text-decoration: none;
}
.sec-nav-left-2 h6{
    font-size: 14px;
    line-height: 24px;
    color: #54627a;
}
.sec-nav-left-2 h6:hover{
    color: #4e80d6;
}
.sec-nav-left-2 p{
    font-size: 12px;
    line-height: 24px;
    color: #617089;
}
.sec-nav-left-3 a{
    text-decoration: none;
    color: #54627a;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
}
.sec-nav-left-3 a:hover{
    color:#4e80d6;
}
.sec-nav-right{
    width: 705px;
    height: 345px;
    background: #4683eb;
    float: left;
}
.sec-top2{
    width: 1140px;
    height: 95px;
    float: left;
}
.sec-main{
    width: 1142px;
    overflow: hidden;
}
.sec-main-left{
    float: left;
    width: 400px;
}
.sec-main-left-top{
    height: 33px;
    width: 400px;
    float: left;
    border-bottom: 1px solid #ccc;
}
.sec-main-left-top h5{
    float: left;
    font-size: 18px;
    color: #2267c7;
    font-weight: 500;
}
.sec-main-middle{
    float: left;
    width: 360px;
    height: 400px;
    margin: 0px 48px 0px 56px;
    overflow: hidden;
}
.sec-main-right{
    float: left;
    width: 278px;
    height: 400px;
}

a:hover{
    color: #4683eb;
}


.sec-main-left-ul1-left{
    width: 52px;
    float: left;
    margin: 9px 0px;
    margin-right: 6px;
}
.sec-main-left-ul1{
    width: 400px;
    overflow: hidden;
}
.sec-main-left-ul1-left a{
    color: #333;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}
.sec-main-left-ul1-right{
    float: left;
    overflow: hidden;
    margin: 8px 0px;
}
.sec-main-left-ul1-right ul{
    width: 341px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between; 
}
.sec-main-left-ul1-right a{
    text-decoration: none;
    color: #666666;
    /* margin-right: 24px; */
    font-size: 14px;
}
.sec-main-left-ul1-right a:hover{
    color: #4e80d6;

}
a{
    white-space: nowrap;
}
.sec-main-left-img ul{
    width: 400px;
    height: 115px;
    overflow: hidden;
}
.sec-main-left-img{
    margin-top: 15px;
}
.middle-top h5{
    float: left;
    font-size: 18px;
    color: #2267c7;
    font-weight: 500;
}
.middle-top{
    height: 33px;
    width: 360px;
    float: left;
    border-bottom: 1px solid #ccc;

}

.middle-nav ul>li{
    line-height: 26px;
    color: #54627a;
    font-size: 14px;
    height: 87px;
    padding-top: 20px;
}
.middle-nav .tit1{
    float: left;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 44px;
    color: #1a66e7;
    font-family: "楷体";
    background: url(../img/font-bg.jpg) no-repeat;
}
.middle-nav a{
    text-decoration: none;
    color: #666;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin-left: 26px;
    margin-right: 15px;
}
.middle-nav a:hover{
    color: #4e80d6;
}
.middle-nav{
    float: left;
}
.middle-li1{
    border-bottom: 1px dashed #ccc;
}
.middle-nav ul{
    width: 360px;
}
.middle-img ul{
    width: 360px;
    height: 115px;
    overflow: hidden;
    margin-top: 12px;
}
.middle-img li{
    float: left;
}
.middle-img{
    float: left;
}
.right-top h5{
    float: left;
    font-size: 18px;
    color: #2267c7;
    font-weight: 500;
}
.right-top{
    height: 33px;
    width: 278px;
    float: left;
    border-bottom: 1px solid #ccc;
}
.sec-main-right .sec-span01{
    background: url("../img/icon-software.png") no-repeat 5px 0px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.sec-main-right .sec-span02{
    background: url("../img/icon-software.png") no-repeat 5px -30px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.sec-main-right .sec-span03{
    background: url("../img/icon-software.png") no-repeat 5px -60px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.sec-main-right .sec-span04{
    background: url("../img/icon-software.png") no-repeat 5px -90px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.sec-main-right .sec-span05{
    background: url("../img/icon-software.png") no-repeat 5px -120px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.sec-main-right .sec-span06{
    background: url("../img/icon-software.png") no-repeat 5px -150px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.sec-main-right ul{
    padding-top: 20px;
    padding-left: 5px;
    margin-bottom: 21px;
    float: left;
}
.sec-main-right li{
    line-height: 48px;
    margin-bottom: 5px;
    border: 1px solid #e7e7e7;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #54627a;
    font-size: 14px;
    padding-right: 22px;
}
.sec-main-right a{
    display: block;
    padding-left: 15px;
    text-decoration: none;
    color: #666;

}
.sec-main-right a:hover{
    color: #4e80d6;
}
.footer-top-qy{
    background: url(../img/foot-bg.png) top center #e6e9ee;;
    height: 209px;
    overflow: hidden;
}
.footer-top01-qy{
    margin: 0px auto;
    width: 1140px;
    margin-top: 28px;
    /* background: red; */
    /* overflow: hidden; */
}
.footer-left-qy ul{
    float: left;
    margin-right: 92px;
}
.footer-left-qy h4{
    font-size: 14px;
    color:#54627a;
    line-height: 44px;
}
.footer-left-qy a{
    text-decoration: none;
    color: #66758d;
    font-size: 12px;
}
.footer-left-qy a:hover{
    color: #4e80d6;
}
.footer-left-qy li{
    text-decoration: none;
    color: #66758d;
    font-size: 12px;
}
.footer-left-qy{
    overflow: hidden;
    width: 755px;
    float: left;
}
.footer-right-qy{
    /* overflow: hidden; */
    width: 383px;
    float: left;
    height: 120px;
    margin-top: 10px;
    border-left: 1px solid #506581;
    position: relative;
}
.footer-span1-qy{
    background: url("../img/weibo-bg.png") no-repeat;
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 28px;
    margin-left: 80px;
}
.footer-span1-qy:hover{
    background: url("../img/weibo-bg.png") no-repeat -40px 0px;
}
.footer-span2-qy{
    background: url("../img/weibo-bg.png") no-repeat;
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 28px;
    margin-left: 58px;
}
.footer-span2-qy:hover{
    background: url("../img/weibo-bg.png") no-repeat -40px 0px;
}
.footer-right-qy a{
    text-decoration: none;
    color: #66758d;
    font-size: 12px;
    float: left;
    position: relative;
}
.footer-p1-qy{
    position: absolute;
    top:75px;
    left: 60px;
}
.footer-p2-qy{
    position: absolute;
    top:75px;
    left: 55px;
}
.footer-right-qy a:hover{
    color: #4e80d6;
}
.footer-span3-qy>img{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 167px;
    top: -37px;
} 
.bottom-qy{
    height: 169px;
    background: #1c2b40;;
}
.bottom-top-qy{
    width: 1142px;
    margin: 0px auto;
    height: 60px;
    padding-top: 27px;
    border-bottom: 1px solid #2e435e;
}
.bottom-top-img1-qy{
    float: left;
}
.bottom-top-qy ul{
    float: left;
}
.bottom-top-qy li{
    float: left;
}
.bottom-top-qy a{
    text-decoration: none;
    font-size: 12px;
    margin-left: 24px;
    color: #a4abc7;
}
.bottom-top-qy a:hover{
    color: #4e80d6;
}
.bottom-top-qy span{
    text-decoration: none;
    font-size: 12px;
    margin-left: 24px;
    color: #a4abc7;
    float: left;
}
.bottom-top-img2-qy{
    float: right;
}
.bottom-footer-qy{
    width: 1140px;
    padding-top: 16px;
    margin: 0px auto;
}
.bottom-footer-qy p{
    color: #6a7481;
    font-size: 12px;
    float: left;
}
.bottom-footer-qy a{
    color: #6a7481;
    font-size: 12px;
    text-decoration: none;
}
.bottom-footer-qy a:hover{
    color: #4e80d6;
}
/* .span3{
    background: url("../img/btn-search.png") no-repeat 1px 1px;
} */

/* section{
    height: 228px;
    border: 1px solid #e4e4e4;
    width: 96%;
    margin: 20px auto 0;
    background: #fff;
    font-family: 宋体;
    position: relative;
    overflow: hidden;
} */